.container { 
  width: 200px;
  height: 200px;
  position: fixed;
  perspective: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  
}

#card {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}



#card figure {
  margin: 0 0 0 0;
  display: block;
  position: absolute;
  border: 5px white solid;
  width: 196px;
  height: 196px;
  backface-visibility: hidden;
  
}

#card .front {
  background: red;
  transform: rotateX( 0deg ) translateZ( 100px );
}

#card .back {
  background: #00ffff;
  transform: rotateX( 180deg ) translateZ( 100px );
}

#card .left {
  background: blue;
  transform: rotateY( -90deg ) translateZ( 100px );
}

#card .right {
  background: #ffff00;
  transform: rotateY( 90deg ) translateZ( 100px );
}

#card .top {
  background: green;
  transform: rotateX( 90deg ) translateZ( 100px );
}

#card .bottom{
  background: #ff00ff;
  transform: rotateX( -90deg ) translateZ( 100px );
}


#content .front {
  background: red;
}

#content .back {
  background: #00ffff;
}

#content .left {
  background: blue;
}

#content .right {
  background: #ffff00;
}

#content .top {
  background: green;
}

#content .bottom{
  background: #ff00ff;
}

div.explode{
	opacity: .5;
	position: fixed;
	width: 500px;
	height: 500px;
	top: calc(50% - 20rem);
	left: calc(50% - 25rem);
}
