.container { 
  width: 200px;
  height: 200px;
  position: relative;
  left: 20rem;
  border: 2px solid black;
  perspective: 1000px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}

.showTrans {
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 98%;
  height: 98%;
  backface-visibility: hidden;
  border: 2px solid black;
}

#card .front {
  background: red;
  transform: rotateX( 0deg ) translateZ( 100px );
}

#card .back {
  background: #00ffff;
  transform: rotateX( 180deg ) translateZ( 100px );
}

#card .left {
  background: blue;
  transform: rotateY( -90deg ) translateZ( 100px );
}

#card .right {
  background: #ffff00;
  transform: rotateY( 90deg ) translateZ( 100px );
}

#card .top {
  background: green;
  transform: rotateX( 90deg ) translateZ( 100px );
}

#card .bottom{
  background: #ff00ff;
  transform: rotateX( -90deg ) translateZ( 100px );
}

