body {
	background: black;
	font-family: arial, verdana;
}

.container { 
  width: 200px;
  height: 200px;
  position: fixed;
  perspective: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  
}

#card {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}



#card figure {
  margin: 0 0 0 0;
  display: block;
  position: absolute;
  border: 2px white solid;
  width: 198px;
  height: 198px;
  backface-visibility: hidden;
  
}

#card .front {
  transform: rotateX( 0deg ) translateZ( 100px );
}

#card .back {
  transform: rotateX( 180deg ) translateZ( 100px );
}

#card .left {
  transform: rotateY( -90deg ) translateZ( 100px );
}

#card .right {
  transform: rotateY( 90deg ) translateZ( 100px );
}

#card .top {
  transform: rotateX( 90deg ) translateZ( 100px );
}

#card .bottom{
  transform: rotateX( -90deg ) translateZ( 100px );
}


.front {
  background: red;
}

.back {
  background: #00ffff;
}

.left {
  background: blue;
}

.right {
  background: #ffff00;
}

.top {
  background: green;
}

.bottom {
  background: #ff00ff;
}



#explode{
	opacity: .5;
	position: fixed;
	top: calc(50% - 20rem);
	left: calc(50% - 25rem);
	overflow: hidden;
	transition: margin 1s, opacity 1s, width 1s, height 1s;
	perspective: 1000px;
	direction: ltr;
    transform-style: preserve-3d;
}

#explode.smooth{ 
	transition: margin 1s, opacity .7s, width 1s, height 1s, transform 1s;
 }


#explode.min{
	opacity: .7;
	height: 198px;
	width: 198px;
	margin: calc(20rem - 99px) calc(25rem - 99px);
}

#explode.max{
	opacity: 1;
	height: 40rem;
	width: 50rem;
	margin: 0;
}

#explode.hide{
	opacity: 0;
	height: 198px;
	width: 198px;
	margin: calc(20rem - 99px) calc(25rem - 99px);
}

button{
  border: 0;
  font-weight: lighter;
  opacity: .8;
  color: black;
  background: none;
  text-align: center;
  outline: 0;
  height: 2rem;
  width: 2rem;
  padding: auto;
  font-size: 1rem;
  transition: all 2s;
}


#minmaxbutt:hover{
  opacity: 1;
}

#explodeContent{
  padding: 5px;
}

#minmaxbutt.open{
  transform: rotateZ( 0deg );
}

#minmaxbutt.closed{
  transform: rotateZ( 45deg );
}

#menubutton.closed{
  transform: rotateZ( 90deg );
}

#menubutton.open{
  transform: rotateZ( 0deg );
}

#menu{
	overflow: scroll;
	width: 100px;
	height: 2rem;
	transition: all 1s;
}

#innerMenu{
	color: black;
	transition: all 1s;
}

#innerMenu.open{
	opacity: 1;
	visibility: visible;
}
#innerMenu.closed{
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

#topMenu{
	color: white;
	border: 1px solid white;
	text-align: center;
	top: 50%;
	display: block;
	transition: all 1s;
}

#topMenu.open{
	opacity: 1;
	visibility: visible;
}

#topMenu.closed{
	opacity: 0;
	visibility: hidden;
}	

.bolded{
	font-weight: bold;
	font-style: italic;
}
