
#appHolder {
	height: 100%;
}

.front {
  background: red;
}

.back {
  background: #00ffff;
}

.left {
  background: blue;
}

.right {
  background: #ffff00;
}

.top {
  background: green;
}

.bottom {
  background: #ff00ff;
}

#explode.smooth{ 
	transition: top 1s, left 1s, margin 1s, opacity .7s, width 1s, height 1s, transform 1s;
}

#explode{
	position: fixed;
	transition: top 1s, left 1s, margin 1s, opacity 1s, width 1s, height 1s;
	perspective: 1000px;
	direction: ltr;
    transform-style: preserve-3d;
	top: 5%;
	left: 10%;
	overflow: hidden;
	height: 100%;
}

#explode.min{
	opacity: .7;
	height: 198px;
	width: 198px;
	top: calc(50% - 99px);
	left: calc(50% - 99px);
}

#explode.hide{
	opacity: 0;
	height: 198px;
	width: 198px;
	top: calc(50% - 99px);
	left: calc(50% - 99px);
}

#explode.max{
	opacity: 1;
	height: 90vh;
	width: 80vw;
	top: 5%;
	left: 10%;
}




