#explode.min button.icon{
  opacity: 1;
}

button.icon{
  border-radius: 50%;
  border: 0;
  font-weight: lighter;
  opacity: .8;
  background: none;
  text-align: center;
  outline: 0;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
}

button.icon:hover{
  background: rgba(100,100,100,.5);
}

#minmaxbutt.open{
  transition: transform 1s 1s, top 1s, left 1s, color 0s, background 1s;
  transform: rotateZ( 0deg );
}

#minmaxbutt.closed{
  transition: transform 1s 1s, top 1s, left 1s, color 0s, background 1s;
  transform: rotateZ( 45deg );
}

#menubutton.closed{
  transition: transform 1s, top 1s, left 1s, color 0s, background 1s;
  transform: rotateZ( 90deg );
}

#menubutton.open{
  transition: transform 1s, top 1s, left 1s, color 0s, background 1s;
  transform: rotateZ( 0deg );
}
