
#innerMenu{
	color: black;
	position: absolute;
	height: 2rem;
	line-height: 2rem;
	left: 4.5rem;
	display: inline;
	transition: all 1.2s;
	overflow: scroll;
}

#innerMenu.open{
	height: 2rem;
	opacity: 1;
}

#innerMenu.closed{
	height: 0rem;
	opacity: 0;
	left: 3rem;
}

#innerMenu > .bolded{
  font-weight: bold;
  margin: 8px;
}

#innerMenu > div{
	display: inline;
	transition: all 1s;
}

#innerMenu > div:hover{
   	margin: 8px;
}