
#innerMenu{
	color: black;
	position: absolute;
	height: 2rem;
	line-height: 2rem;
	left: 4.5rem;
	display: inline;
	transition: all 1s;
}

#innerMenu.open{
	max-width: 400px;
	overflow: hidden;
	visibility: visible;
}

#innerMenu.closed{
	max-width: 0px;
	visibility: hidden;
	overflow: hidden;
}

#innerMenu > .bolded{
  font-weight: bold;
  margin: 8px;
}

#innerMenu > div{
	display: inline;
	transition: all 1s;
}

#innerMenu > div:hover{

   	margin: 8px;
}

#topMenu > div{
	display: inline;
    transition: all 1s;
}

#topMenu {
    background: black;
	color: white;
	text-align: center;
	font-size: 2rem;
	line-height: 8rem;
	width: 100%;
	left: 0;
	top: calc(50% - 200px - 4rem);
	position: absolute;
	display: inline-block;
	transition: all 2s;
	overflow: hidden;
}

#topMenu.open{
	opacity: 1;
	visibility: visible;
}

#topMenu.closed{
	opacity: 0;
	visibility: hidden;
}	


#topMenu > .bolded{
  background: gray !important;
  padding: 2rem;
}
