/* #### Tablets Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

	html {
		font-size: 62.5% !important;
	}

	body {
		font-size: 1.3rem !important;
	}



	#explode.max{
		opacity: 1;
		height: 80vh !important;
		width: 95vw !important;
		top: 2vh !important;
		left: 2.5vw !important;
		margin: 0 !important;
	}


	#innerMenu{
		font-size: 1.1rem;
		  overflow-x: scroll;
		  white-space: nowrap;
	}

	#topMenu.open{
		padding: 0rem;
	}

	#topMenu{
		top: 10% !important;
		width: 90%;
		left: 5%;
		font-size: 4.5vw !important;
		line-height: 6.7rem !important;

		  overflow-x: scroll;
		  white-space: nowrap;
	}


	#topMenu > .bolded{
	  padding: .60rem .60rem;
	}

	#topMenu > div{
		display: inline-block;
		height: 6.5vw !important;
		text-align: center !important;
		line-height: 6.5vw !important;
	}


	#topMenu.closed{
		opacity: 0;
	}	

	#topMenu > div.default:hover{
	margin: 0rem .5rem !important;
	}

	#about h3{ /* contact info */
	  width: 90% !important;
	  margin-left: 5%;
	}

	#pageHolder h2 { 
	  font-size: 4vw;
	}

	#pageHolder{
	  height: calc(80vh - 2.5rem);
	}

	#pageHolder > div {
	  height: calc(80vh - 5rem);
	}

	#pHolder {
	  margin-top: calc(4rem + 2px);
	  width: 100%;
	  height: calc(80vh - 14.5rem + 2px);
	  position: absolute;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 800px) and (orientation: landscape){
  	.container { 
	  top: 60% !important;
	}
	#explode{
	  top: calc(60% - 20rem) !important;
	 }

	 #explode.max{
		height: 90vh !important;
		width: 98% !important;
		top: 5% !important;
		left: 1% !important;
	}

	#explode.min{
		opacity: .7;
		height: 198px;
		width: 198px;
		top: calc(60% - 99px) !important;
		left: calc(50% - 99px) !important;
		margin: 0 0 0 0 !important;
	}
	
	#explode.hide{
		opacity: 0;
		height: 0% !important;
		width: 0% !important;
		margin: 0 0 0 0 !important;
		top: 60% !important;
		left: 50% !important;
	}

	#topMenu{
		top: 3% !important;
		width: 100%;
		left: 0;
	}

	#topMenu.closed{
		opacity: 0 !important;
		margin: 0 0 0 0 !important;
		height: auto !important;
		visibility: visible !important;
	}	


	#about h3{ /* contact info */
	  width: 90% !important;
	  margin-left: 5%;
	}

	#pageHolder h2 { 
	  font-size: 4vw;
	}

	#pageHolder{
	  height: calc(90vh - 2.5rem);
	}

	#pageHolder > div {
	  height: calc(90vh - 5rem);
	}

	#pHolder {
	  margin-top: calc(4rem + 2px);
	  width: 100%;
	  height: calc(90vh - 14.5rem + 2px);
	  position: absolute;
	}

	#pHolder div{
	  height: calc(90vh - 16rem + 2px);
	  position: absolute;
	}



}