/* #### Tablets Portrait or Landscape #### */
@media screen and (max-device-width: 640px){

	html {
		font-size: 62.5% ;
	}

	body {
		font-size: 1.3rem ;
	}



	#explode.max{
		opacity: 1;
		height: 80vh ;
		width: 95vw ;
		top: 2vh ;
		left: 2.5vw ;
		margin: 0 ;
	}


	#innerMenu{
		font-size: 1.1rem;
		  overflow-x: scroll;
		  white-space: nowrap;
	}

	#topMenu.open{
		padding: 0rem;
	}

	#topMenu{
		top: 10% ;
		width: 90%;
		left: 5%;
		font-size: 4.5vw ;
		line-height: 6.7rem ;

		  overflow-x: scroll;
		  white-space: nowrap;
	}

	#thumbnail.show{
		top: 25px;
	}

	#explode > button{
		height: 1.5rem;
		width: 1.5rem;
		line-height: .75rem;
		font-size: .75rem;
		text-align: center;
		overflow: hidden;
	}

	#menubutton{
		margin-right: .5rem;
	}

	#minmaxbutt{
		margin-left: .5rem;
	}

	.min > button{
		margin-top: .3rem;
	}

	#innerMenu{
		font-size: .75rem;
		left: 4rem;
		line-height: 1.5rem;
	}

	#innerMenu.open{
		height: 1.5rem;
		width: calc(80vw - 3.5rem);
	}

	#thumbnail.hide{
		width: 1.5rem;
		height: 1.5rem;
		font-size: .75rem;
		line-height: 1.5rem;
		margin-left: .5rem;
	}


	#topMenu > .bolded{
	  padding: .60rem .60rem;
	}

	#topMenu > div{
		display: inline-block;
		height: 6.5vw;
		text-align: center ;
		line-height: 6.5vw ;
	}


	#topMenu.closed{
		opacity: 0;
	}	

	#topMenu > div.default:hover{
	margin: 0rem .5rem ;
	}

	#about h3{ /* contact info */
	  width: 90% ;
	  margin-left: 5%;
	}


	.pageHolder{
	  height: calc(80vh - 1.5rem);
	}

	.pageHolder > div {
	  height: calc(80vh - 3rem);
	}

	.pHolder {
	  margin-top: calc(2rem + 2px);
	  width: calc(95vw - 20px);
	  right: 0;
	  height: calc(80vh - 8.5rem + 2px);
	  position: absolute;
	}

	.pageHolder .pHolder div{
	  right: calc((95vw - 20px) - 100%);
	}
	
	#contact{
	  width: calc(95vw - 20px);
	  right: calc((95vw - 20px) - 100%);
	}

	#links{
	  width: calc(95vw - 20px);
	  right: calc((95vw - 20px) - 100%);
	}

	.portrait{
		height: 150px;
		margin-left: -10%;
	}


	.pageHolder .pageMenu h2{
		line-height: 2rem;
		font-size: .9rem;
		height: 2rem;
	}
	
	.pageHolder h1 { 
	  font-size: 1.5rem;
	  line-height: 2rem;
	  height: 3rem;
	  width: calc(95vw - 20px);
	}

	.pageHolder h4 { 
	  font-size: .75rem;
	  height: 1.5rem;
	  line-height: 1.5rem;
	}

	.pageHolder h4 button{ 
	  padding: 0 5px;
	}

	.pageHolder h5{
		font-size: 1.2rem;
	}

	.pageHolder .pHolder div:not(.inner){
	  right: calc((95vw - 20px) - 100%);
	  height: calc(80vh - 9rem);
	  margin-top: 5px !important;
	}

	#about .pHolder{
		height: calc(80vh - 11.5rem + 2px);
		margin-top: 2rem;
	}

	#about .pHolder div{
		height: calc(80vh - 11.8rem + 2px);
	}


}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 800px) and (orientation: landscape){
  	.container { 
	  top: calc(50% - 100px);
	  left: calc(50% - 100px);
	}

	#explode{
	  top: calc(50% - 100px);
	 }

	 #explode.max{
		height: 97vh;
		width: 98vw;
		top: 1vh;
		left: .7vw;
	}

	#explode.min{
		visibility: visible;
		opacity: .7;
		top: calc(50% - 101px);
		margin: 0 0 0 0;
	}
	
	#explode.hide{
		opacity: 0;
		visibility: hidden;
		margin: 0 0 0 0 ;
		top: calc(50% - 100px);
		left: calc(50% - 100px);
	}

	#explode > button{
		height: 1.5rem;
		width: 1.5rem;
		line-height: .75rem;
		font-size: .75rem;
		text-align: center;
		overflow: hidden;
	}

	#menubutton{
		margin-right: .5rem;
	}

	#minmaxbutt{
		margin-left: .5rem;
	}

	#innerMenu{
		font-size: .75rem;
		left: 4rem;
		line-height: 1.5rem;
	}

	#innerMenu.open{
		height: 1.5rem;
	}

	#thumbnail.hide{
		width: 1.5rem;
		height: 1.5rem;
		font-size: .75rem;
		line-height: 1.5rem;
		margin-left: .5rem;
	}

	#topMenu{
		top: .1rem;
		width: 95vw;
		font-size: 1rem;
		left: 2.5vw;
	}

	#topMenu > .bolded{
	  padding: .4rem .4rem;
	}

	#topMenu.open{
		height: 3rem;
		line-height: 3rem;
	}

	#topMenu.closed{
		opacity: 0 ;
		margin: 0 0 0 0 ;
		height: auto ;
		visibility: visible ;
	}

	#topMenu > div{
		margin: 0rem 1rem;
	}

	#topMenu > div.default:hover{
		margin: 0rem .5rem;
		padding: 0rem .5rem;
		background: rgba(255, 255, 255, .3);
	}

	#about h3{ /* contact info */
	  width: 90% ;
	  margin-left: 5%;
	}

	.pageHolder .pageMenu h2{
		line-height: 2rem;
		font-size: 1rem;
		height: 2rem;
	}
	
	.pageHolder h1 { 
	  font-size: 1.5rem;
	  line-height: 2rem;
	  height: 3rem;
	}

	.pageHolder h4 { 
	  font-size: .75rem;
	  height: 1.5rem;
	  line-height: 1.5rem;
	}

	.pageHolder h4 button{ 
	  padding: 0 5px;
	}

	.pageHolder h5{
		font-size: 1.2rem;
	}

	.pageHolder{
	  height: calc(98vh - 1.5rem);
	}

	.pageHolder > div {
	  height: calc(98vh - 3.2rem);
	}

	.pHolder {
	  margin-top: calc(2rem + 2px);
	  width: calc(98vw - 20px);
	  right: 0;
	  height: calc(98vh - 8.5rem - 2px);
	  position: absolute;
	}

	.pageHolder .pHolder div:not(.inner){
	  right: calc((98vw - 20px) - 100%);
	  height: calc(98vh - 9rem);
	  margin-top: 5px !important;
	}

	#contact{
	  width: calc(98vw - 20px);
	  right: calc((98vw - 20px) - 100%);
	  overflow: scroll;
	}

	#links{
	  width: calc(98vw - 20px);
	  right: calc((98vw - 20px) - 100%);
	}

	#about .pHolder{
		height: calc(98vh - 11.5rem + 2px);
		margin-top: 2rem;
	}

	#about .pHolder div{
		height: calc(98vh - 11.8rem + 2px);
	}




}