.pageOpen{
	display: block;
}

.pageClosed{
	display: none;
}

#intro{
	transition: all .5s;
}

#intro.in{
	opacity: 1;
}

#intro.out{
	opacity: 0;
}

#intro > h2 > button{
  border: 0;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  background: none;
  text-align: center;
  outline: 0;
  font-size: 1.3rem;
  transition: all 1s;
}

#intro > h2 > button:hover{
   background: rgba(100,100,100,.5);
   font-size: 1.5rem
}

#intro > h4 > button:hover{
  background: rgba(100,100,100,.5);
  font-size: 1.2rem;
}

#intro > h4 > button{
  border: 0;
  border-radius: 10%;
  color: black;
  font-weight: bold;
  background: none;
  text-align: center;
  outline: 0;
  font-size: 1rem;
  transition: all 1s;
}

#outro{
	transition: all .5s;
}

#outro.in{
	opacity: 1;
}

#outro.out{
	opacity: 0;
}