.pageOpen{
	display: block;
}

.pageClosed{
	display: none;
}

#home{
  transition: all .5s;
  position: relative;
  height: calc(90vh - 5rem);
  background: rgba(255, 255, 255, .7);
  overflow: scroll;
}

#home p {
  padding: 0 20% 0 20%;
  text-align: ltr;
  overflow: hidden;
}

#home p.show{
  opacity: 1;
  margin: 10px 0 10px 0;
    transition:  font-size .5s,
                margin .5s,
                padding .5s,
                opacity 1s .5s;
}

#home p.hide{
  opacity: 0;
  font-size: 0;
  margin: 0 0 0 0;
      transition:  font-size 1s .5s,
                margin 1s .5s,
                padding 1s .5s,
                opacity .5s;
}

#home h1 {
  margin: 0;
  text-align: center;
  line-height: 5rem;
  background: rgba(255, 255, 255, .5);
}

#home h2 {
  transition: all 1s;
  margin: 0;
  text-align: center;
  line-height: 2.5rem;
  border-top: 1px solid white;
  background: rgba(255, 255, 255, .3);
}

#home h4{
  margin: 0;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  
  width: 100%;
  bottom: 0;
}

#home h3{
  margin: 0;
  position: absolute;
  
  width: 100%;
  bottom: 50%;
}

#home.in{
  margin: 0;
  opacity: 1;
}

#home.out{
  margin: -50%;
  opacity: 0;
}

#home button{
  border: 0;
  color: black;
  font-weight: bold;
  background: none;
  text-align: center;
  outline: 0;
  font-size: inherit;
  line-height: 2rem;
  transition: all 1s;
  width: 100%;
}

#home button:hover{
   background: rgba(100,100,100,.3);
}

#home h2:hover{
   background: rgba(255, 255, 255, .7);
}
