
.front { /*about*/
  background: #441118;
  color: rgba(255, 255, 255, .7);
}

.back { /*experience*/
  background: #70c0b0;
  color: rgba(0, 0, 0, .8);
}

.left { /*contact*/
  background: #cc90c7;
  color: rgba(0, 0, 0, .8);
}

.right { /*projects*/
  background: #F47F5D;
  color: rgba(0, 0, 0, .8);
}

.top { /*links*/
  background: #221130;
  color: rgba(255, 255, 255, .7);
}

.bottom { /*home*/
  background: #002530;
  color: rgba(255, 255, 255, .88);
}