#topMenu {
	color: white;
	text-align: center;
	font-size: 2rem;
	line-height: 7rem;
	top: 10%;
	left: 5%;
	position: absolute;
	display: inline-block;
	transition: all 1.5s;
	width: 90%;
	overflow: auto;
}

#topMenu.open{
	height: 7rem;
	visibility: visible;
}

#topMenu.closed{
	height: 0rem;
	margin: -3rem 7rem 0 0;
	visibility: hidden;
}	


#topMenu > div.default:hover{
	margin: 1rem;
	padding: 1rem;
	background: rgba(255, 255, 255, .3);
}

#topMenu > div{
    transition: all 1s;
	display: inline;
	margin: 1rem;
}


#topMenu > .bolded{
	padding: 2rem;
	color: white;
}