#links{
	width: calc(80vw + ((100vh - 100vw) / 2) - 20px);
    right: calc((80vw + ((100vh - 100vw) / 2) - 20px) - 100%);
}

#links a{
	text-decoration: none !important;
	transition: all 1s;
}

#links a:hover{
	margin: 0 5px;
}

#links p{
	text-align: left !important;
	margin-top: 10px !important;
	margin-left: 0px !important;
}

#links h1{
    margin-bottom: 5px !important;
    padding-left: 10px;
}
