.portrait{
  height: 250px;
  position: relative;
  margin-left: -1.5em;
  margin-right: 1.5em; 
  float: left;
}

#about h3{ /* contact info */
  margin-top: -1.5%;
  width: 50%;
  padding-top: 0%;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 25%;
  line-height: 2rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  border-top: 1px solid;
}


#about h2{/* menu options for this page */
  width: calc(100%);
  border-top: 1px solid rgba(255, 255, 255, .5);
}


#about #pHolder {
  background: rgba(255, 255, 255, .5);
  height: calc(100% - 12rem - 4px);
  margin-top: calc(4rem);

}

#about #pHolder div{
  padding: 0 10%;
}

#about strong{
    margin-left: 0;
}

#about p{
    margin-top: 0;
}

#about p{
  margin-left: 0px;
}