
#pageMenu {
  width: 100%;
  clear: both;
}


#pageHolder h2:hover{
   background: rgba(255, 255, 255, .6);
}


#pageHolder h2 { 
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  line-height: 4rem;
  border-top: 1px solid rgba(0, 0, 0, .5);
  font-weight: normal;
  height: 4rem;
  color: inherit;
}

h2.inactive{
  background: rgba(255, 255, 255, .2);
}

h2.active {
  background: rgba(255, 255, 255, .4);
}