
#pHolder {
  margin-top: calc(4rem + 1px);
  width: 100%;
  height: calc(90vh - 14.5rem + 2px);
  position: absolute;
}

#pHolder div{
  text-align: ltr;
  width: 80%;
  height: 96%;
  padding-left: 10%;
  padding-right: 10%;

  display: inline;
  position: absolute;
}


#pHolder div.show{
  opacity: 1;
  overflow-y: scroll;
  overflow-x: wrap;

  margin: 2% 0 0 0;
  top: 0;
  transition:  height .5s, margin-top .5s, padding .5s, top .5s;

}

#pHolder div.hide{

  opacity: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 0;
  top: 80vh;
  transition: height .5s, margin-top .5s, margin-bottom .5s, padding .5s, top .5s .5s, opacity .4s 0s;
  
}



/* 
#pHolder p.show{
  opacity: 1;
  float: left;
  margin: 20px 0 10px 0;
    transition:  font-size .25s,
                margin .25s,
                padding .25s,
                opacity .15s .25s;
}

#pHolder p.hide{
  opacity: 0;
  font-size: 0;
  margin: 0 0 0 0;
      transition:  font-size .15s .25s,
                margin .15s .25s,
                padding .15s .25s,
                opacity .25s;
} 
*/


