#home .pHolder {
  background: rgba(255, 255, 255, .5);
}


#home h2{/* menu options for this page */
  width: calc(100%/3);
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}


#home .middleMenu{
  border-left: 1px solid rgba(255, 255, 255, .5);
  border-right: 1px solid rgba(255, 255, 255, .5);
  width: calc(100%/3 - 2px);
}

#home h3{ /* What Cube? */
  margin: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  bottom: calc((100% - 200px) / 2);
  left: calc((100% - 200px) / 2);
  text-align: center;
  transition: all 1s;
}

ul.controlsList{
  margin-top: 0;
  list-style-position: outside;
}