.pageOpen{
	display: block;
}

.pageClosed{
	display: none;
}

#pageHolder{
  transition: all .5s;
  transition: color 0s;
  position: relative;
  height: calc(90vh - 2.5rem);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

#pageHolder > div {
  transition: all .25s;
  transition: color 0s;
  position: relative;
  height: calc(90vh - 5rem);
  background: rgba(255, 255, 255, .2);
  overflow: hidden;
}

#pageHolder.in{ /* trans between intro/welcome back */
  margin: 0;
  opacity: 1;
}

#pageHolder.out{
  margin: -10%;
  opacity: 0;
}

#pageHolder button{
  border: 0;
  font-weight: bold;
  background: none;
  outline: 0;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  transition: all 1s;
  width: 100%;
  text-align: inherit;
  font-weight: inherit;
  color: inherit;
}

#pageHolder button:hover{
   background: rgba(100,100,100,.7);
}


#pageHolder h4{ /* bottom button */
  margin: 0;
  height: 2.5rem;
  width: 100%;
  bottom: 0;
  text-align: left;
}

#pageHolder h1 { /* welcome */
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: center;
  line-height: 5rem;
  color: inherit;
}

