.pageOpen{
	display: block;
}

.pageClosed{
	display: none;
}

.pageHolder{
  transition: all .5s;
  transition: color 0s;
  position: relative;
  height: calc(90vh - 2.5rem);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.pageHolder > div {
  transition: all .25s;
  transition: color 0s;
  position: relative;
  height: calc(90vh - 5rem);
  background: rgba(255, 255, 255, .2);
  overflow: hidden;
}

.pageHolder.in{ /* trans between intro/welcome back */
  transition: margin .25s, opacity .25s;
  margin: 0;
  opacity: 1;
}

.pageHolder.out{
  transition: margin .25s, opacity .25s;
  margin: -10%;
  opacity: 0;
}

.pageHolder button{
  border: 0;
  font-weight: bold;
  background: none;
  outline: 0;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
  transition: background 1s, margin-left .5s;
  width: 100%;
  text-align: inherit;
  font-weight: inherit;
  color: inherit;
}

.pageHolder h3 button:hover{
   background: rgba(255,255,255,.3);
}

.pageHolder h4 button:hover{
  margin-left: 20px;
}

.pageHolder h4{ /* bottom button */
  margin: 0;
  height: 2.5rem;
  line-height: 2rem;
  width: 100%;
  bottom: 0;
  text-align: left;
}

.pageHolder h1 { /* welcome */
  margin-top: 10px;
  margin-bottom: -5px;
  width: calc(80vw + ((100vh - 100vw) / 2) - 20px);
  text-align: center;
  line-height: 5rem;
  color: inherit;
}

.pageHolder h5{
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: -1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, .5);

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255,255,255,.5), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,.5), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,.5), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,255,255,.5), rgba(0,0,0,0)); /* Standard syntax */
}

.pageHolder li{
  margin-left: -1rem;
  margin-bottom: 5px;
}

a{
  text-decoration: underline;
  transition: color .5s;
}

.link{
  font-weight: bolder;
  color: black;
}

.link:hover{
  color: rgba(255, 255, 255, .7);
}

a:visited{
  color: black;
}


a:active{
  color: black;
}

.italic{
  font-style: italic;
}

p > strong{
  margin-left: -1rem;
}

p{
  margin-left: 1rem;
}

h6{
  font-size: .9rem;
  margin: 0 15px;
  text-decoration: underline;
  padding: 0;
}

ul.inner{
  font-size: .9rem;
  margin-left: 15px;
  margin-top: 7px;
}

.bold{
  font-weight: bold;
}

p.inner{
  margin-top: 0;
  font-style: italic;
}

span.break{
  width: calc(100% + 50px);
  margin: 20px 0 30px -25px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  color: rgba(0,0,0,.5);
  display: block;
}

a.noLink{
  color: white;
  text-decoration: none;
}