#projects .pHolder {
  background: rgba(255, 255, 255, .1);
}

#projects h2{/* menu options for this page */
  width: calc(100%/2);
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);;
}


#projects .middleMenu{
  border-left: 1px solid rgba(255, 255, 255, .5);;
  width: calc(100%/2 - 1px);
}