
.pageMenu {
  width: 100%;
  clear: both;
}


.pageHolder .pageMenu h2:hover{
   background: rgba(255, 255, 255, .6);
}


.pageHolder .pageMenu h2{ 
  transition: background 1s;
  float: left;
  margin: 0;
  text-align: center;
  line-height: 4rem;
  font-weight: normal;
  height: 4rem;
  color: inherit;

  overflow-x: auto;
  white-space: nowrap;
}

.pageMenu h2.inactive{
  background: rgba(255, 255, 255, .2);
}

.pageMenu h2.active {
  background: rgba(255, 255, 255, .4);
}

.pageHolder h2.inner{
  width: calc(100% + 50px);
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  height: 30px;
  line-height: 30px;
  margin-left: -25px;
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,.5);
  font-style: italic;
  font-weight: bolder;
  color: rgba(0,0,0,.5);
  transition: all .5s;
}

.pageHolder h2.inner:hover{
  color: black;
}

.pageHolder h2.inner.active{
  color: black;
}

